<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
    <style>
        .w3-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.w3-progressbar{background-color: #1697a1;height:100%;position:absolute;line-height:inherit}
.w3-round-xlarge{border-radius:16px!important}
    </style>
</head>
<body>
<form method="get">
    <input type="number" name="num" value="{{ num }}"/>
    <input type="submit">
</form>
<div class="w3-progress-container w3-round-xlarge">
  <div class="w3-progressbar w3-round-xlarge" style="width:50%"></div>
</div>
<p>Result: {{ result }}</p>
</body>
</html>